@model EmployeeAllocationVM
@inject IHttpContextAccessor httpContext
@inject UserManager<ApplicationUser> userManager
@{
	ViewData["Titile"] = "Leave Allocations";
	bool isAdmin = httpContext.HttpContext.User.IsInRole(Roles.Admin);
	bool isEmployee = httpContext.HttpContext.User.IsInRole(Roles.Employee);
	string message = isAdmin ? "There is no any allocation" : "There is no any allocation </br> Please contact the admin.";
}

<h2>Leave Allocations for @Model.FirstName @Model.LastName</h2>

@if (isAdmin && userManager.GetUserId(httpContext.HttpContext.User) != Model.Id)
{
	<form asp-action="EmployeeLeaveRequests" asp-controller="LeaveRequest">
		<input type="hidden" name="employeeId" asp-for="@Model.Id" />
		<input type="submit" value="View Employee Request History" class="btn btn-primary mb-4" />
	</form>
	
}
else if (!isAdmin || (isAdmin && userManager.GetUserId(httpContext.HttpContext.User) == Model.Id))
{
	<a class="btn btn-primary" asp-controller="LeaveRequest" asp-action="MyLeaveRequest">View Request History</a>
}
@* @if (isEmployee)
{
	
} *@
<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FirstName)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LastName)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.BirthDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.BirthDate)
		</dd>
	</dl>
	<hr />
</div>
@if (isAdmin && !Model.IsCompletedAllocation)
{
	<div class="alert alert-warning rounded-3" role="alert">
		<h4>
			There are some leave types not allocated yet
		</h4>
	</div>
	<form asp-action="AllocateLeave">
		<input type="hidden" asp-for="@Model.Id" />
		<input type="submit" value="Allocate Missing Leaves" class="btn btn-warning mb-4" />
	</form>
}

@if (Model.LeaveAllocations.Any())
{
	<div class="card" style="width:100%;">

		<div class="card-header">

			<h4>Leave Allocations For Period <span class="rounded-3 p-1 fw-bold bg-white text-black">@Model.LeaveAllocations[0].Period.Name</span></h4>

		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div class="row fw-bold">
					<div class="col">Leave Name</div>
					<div class="col">Original Allocation</div>
					<div class="col">Current Allocation</div>
					<div class="col">Action</div>
				</div>
			</li>

			@foreach (var allocation in Model.LeaveAllocations)
			{
				<li class="list-group-item align-content-center">
					<div class="row align-items-center">
						<div class="col">@allocation.LeaveType.Name</div>
						<div class="col align-content-center">
							<span class="badge rounded-pill text-white bg-primary">@(allocation.LeaveType.LeaveDurationInDays < 10 ? "0" + allocation.LeaveType.LeaveDurationInDays : allocation.LeaveType.LeaveDurationInDays)</span>
						</div>
						<div class="col">
							<span class="badge rounded-pill text-white @(allocation.Days < 5 ? allocation.Days == 0 ? "bg-dark" : "bg-danger" : "bg-warning")">@(allocation.Days < 10 ? "0" + allocation.Days : allocation.Days)</span>
						</div>
						<div class="col d-flex gap-1 m-1 align-items-center">
							@if (isAdmin)
							{
							<a asp-action="EditAllocation" asp-route-Id="@allocation.Id" class="btn btn-warning">Edit Allocation</a>
							}
							<form asp-controller="LeaveRequest" asp-action="Create" method="get">
								<input type="hidden" name="requesterId" value="@Model.Id" />
								<input type="hidden" name="LeaveTypeId" asp-for="@allocation.LeaveType.Id" />
								<input type="submit" class="btn btn-success" value="Leave Request" />
							</form>

						
						</div>
					</div>
				</li>
			}
		</ul>
	</div>

}
else
{
	<div class="alert alert-warning" role="alert">
		<h3 class="text-center">
			@message
		</h3>
	</div>
}