@model IEnumerable<ReadVM>

@{
    ViewData["Title"] = "Create New Leave Type";
}

<h1>Leave Types</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveDurationInDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveDurationInDays)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"
                       style="position:relative; width:2rem; height:2rem; border-radius:5px;">
                        <img src="~/Images/edit.svg" alt="See Leave Type Detail"
                             style="width: 1.2rem; height: 1.2rem; position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto;" />
                    </a>

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"
                       style="position:relative; width:2rem; height:2rem; border-radius:5px;">
                       <img src="~/Images/info.svg" alt="See Leave Type Detail"
                       style="width: 1.2rem; height: 1.2rem; position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto;" />
                   </a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"
                       style="position:relative; width:2rem; height:2rem; border-radius:5px;">
                       <img src="~/Images/trash.svg" alt="Delete Leave Type"
                       style="width: 1.2rem; height: 1.2rem; position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto;" />
                   </a>
            </td>
        </tr>
}
    </tbody>
</table>
